<div class="container image-list-container mt-5">
<div class="row">
    <div *ngFor="let image of imagesMeta" class="col-md-4 col-lg-4 col-xl-4">
        <div class="thumb">
            <a routerLink="/image/{{ image.url }}/{{image.patient.id}}" class="thumb__link">
                <app-single-image [imageUrl] ="image.url"></app-single-image>
                <!-- /.thumb__image -->
                <div class="thumb__meta">
                    <ul class="thumb__meta-list">
                        <li class="thumb__meta-list-item">Navn:
                            {{ image.patient.firstName}} {{ image.patient.lastName}}
                        </li>
                        <li class="thumb__meta-list-item">Fødselsnummer:
                            {{ image.patient.ssn }}
                        </li>
                        <li class="thumb__meta-list-item">Kjønn:
                            {{ image.patient.gender }}
                        </li>
                        <li class="thumb__meta-list-item">Tatt: {{ image.taken }}</li>
                    </ul>
                </div>
                <!-- /.thumb-meta -->
            </a>
        </div>
        <!-- /.thumb -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
    <div style="font-size: 1.8rem" class="d-flex justify-content-center" *ngIf="pagination">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
        ></pagination>
    </div>
    <!-- /.d-flex justify-content-center -->
</div>
<!-- /.container -->


