<div id="content-image" class="content content-image">
    <div class="image-toolbar">
        <div class="image-toolbar__meta">
            <ul class="image-toolbar__list">
                <li class="image-toolbar__name">Pasient: {{patient.firstName}} {{patient.lastName}}</li>
                <li class="image-toolbar__date">Fødselsdato: {{ patient.dateOfBirth | date }}</li>
                <li class="image-toolbar__">Kjønn: {{patient.gender}}</li>
            </ul>
        </div>
        <!-- /.image-toolbar__meta -->
        <div class="image-toolbar__tools">
            <a routerLink="/images" class="image-toolbar__control">
                <svg class="image__icon">
                    <use xlink:href="/assets/img/sprite.svg#icon-cross"></use>
                </svg>
            </a>
            <button appHoldable (holdTime)="grow()" class="image-toolbar__control">
                <svg class="image__icon">
                    <use xlink:href="/assets/img/sprite.svg#icon-resize-100"></use>
                </svg>
            </button>
            <button appHoldable (holdTime)="shrink()" class="image-toolbar__control">
                <svg class="image__icon">
                    <use xlink:href="/assets/img/sprite.svg#icon-resize-full-screen"></use>
                </svg>
            </button>
            <button appHoldable (click)="reset()" class="image-toolbar__control">
                <svg class="image__icon">
                    <use xlink:href="/assets/img/sprite.svg#icon-reload-alt"></use>
                </svg>
            </button>
            <a href="./comments.html" class="image-toolbar__control">
                <svg class="image__icon">
                    <use xlink:href="/assets/img/sprite.svg#icon-insert_comment"></use>
                </svg>
            </a>
        </div>
        <!-- /.image-toolbar__tools -->
    </div>
    <!-- ./image-toolbar -->

    <!-- /.close-image -->
    <div style="{{ styleHeight()}}"
         class="image-container"
    >
            <img
                style="{{ styleWidth() }}"
                src="{{  medicalImage ? medicalImage.imageString : '/assets/img/black.png' }}"
                alt="{{patient.lastName}}">

    </div>
    <!-- /.image-container -->
</div>
<!-- /.content -->

