.user {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
        &:hover {
            color: #999999;
            text-decoration: none;
            cursor: pointer;
        }
    &__avatar {
        height: 4rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        object-fit: cover;
    }
}
