<nav class="sidebar">
    <div class="logo sidebar__logo">
        <img src="assets/img/logo/logo-light.svg" alt="Logo: Universitetet i Tromdø" class="logo__image">
    </div>
    <!-- /.logo -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav__item <!--sidebar-nav__item&#45;&#45;active-->">
            <a href="#" class="sidebar-nav__link">
                <svg class="sidebar-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-home"></use>
                </svg>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-nav__item">
            <a href="patients.html" class="sidebar-nav__link">
                <svg class="sidebar-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-users"></use>
                </svg>
                <span>Pasienter</span>
            </a>
        </li>
        <li class="sidebar-nav__item">
            <a href="images-list.html" class="sidebar-nav__link">
                <svg class="sidebar-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-images"></use>
                </svg>
                <span>Bilder</span>
            </a>
        </li>
<!--        <li class="sidebar-nav__item">-->
<!--            <a class="sidebar-nav__link">-->
<!--                <svg class="sidebar-nav__icon">-->
<!--                    <use xlink:href="assets/img/sprite.svg#icon-log-out"></use>-->
<!--                </svg>-->
<!--                <span>Logg ut </span>-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</nav>
