// COLORS

$color-primary-dark: #042c84;
$color-primary: #0086df;
$color-primary-light: #10a9e2;

$color-accent: #80fcfc;
$color-accent-dark: #32dee0;

$color-danger: #ff7730;

$color-grey: #9dbcd4;
$color-grey-dark: #444;
$color-grey-dark-secondary: #999;
$color-grey-tertiary: #c5e3f3;
$color-grey-tertiary-dark: #94b9d8;
$color-grey-light: #f2f2f2;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;



