.content {
    display: flex;
    &-image {
        background-color: #000000;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
    }
    .sidebar {
        position: fixed;
        width: 18rem;
        height: 100%;
    }
    .content-wrapper {
        width: 100%;
        margin-left: 18rem;
        overflow-x: hidden;
        height: 100%;
    }
}



.content-wrapper {
}

.text-not-found {
    text-transform: uppercase;
}


