<div class="modal-header" style="width: 100%">
    <h4 class="modal-title pull-left">Image Meta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModelRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- /.modal-header -->
<div class="modal-body">
    <div>{{ content }}</div>
</div>
<!-- /.modal-body -->
<div class="modal-footer">
    <button class="btn-secondary form-group--button mr-2" (click)="bsModelRef.hide()" type="button">Ok</button>
</div>
<!-- /.modal-footer -->


