<div *ngIf="user" class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <img src="{{ (user.photos.length != 0) ? user.photos[user.photos.length - 1].url : 'assets/img/user.png' }}" alt="{{user.username}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Sted: </strong>
                    <p>{{user.city}}</p>
                </div>
                <div>
                    <strong>Kategori: </strong>
                    <p>{{ user.category | titlecase}}</p>
                </div>
                <div>
                    <strong>Sist Aktiv: </strong>
                    <p>{{user.lastActive | date: 'dd MMMM, yyyy' }}</p>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-4 -->
    <div class="col-xs-12 col-lg-7">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>Om {{ user.firstName }} {{ user.lastName }}</a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <strong>Navn: </strong>
                                <p>{{user.username | titlecase}}</p>
                            </div>
                            <div>
                                <strong>Etternavn: </strong>
                                <p>{{ user.lastName }}</p>
                            </div>
                            <div>
                                <strong>Kjønn: </strong>
                                <p>{{ user.gender }}</p>
                            </div>
                            <div>
                                <strong>Sted: </strong>
                                <p>{{user.city}}</p>
                            </div>
                            <div>
                                <strong>Alder: </strong>
                                <p>{{user.age}}</p>
                            </div>
                            <div>
                                <strong>Kategori: </strong>
                                <p>{{ user.category }}</p>
                            </div>
                            <div *ngIf="user.practice">
                                <strong>Praksis: </strong>
                                <p>
                                    {{ user.practice }}
                                </p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <!-- /.col-8 -->
</div>
<!-- /.row -->
