<header class="header">
    <div class="header-wrapper">
        <form action="#" class="search nav__search">
            <input type="text" class="search__input input" placeholder="Søk...">
            <button class="search__button">
                <svg class="search__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>
        <a href="#" class="user header__user">
            <img src="assets/img/user.jpeg" alt="Avatar: Reidun Nordland" class="user__avatar">
            <span class="user__name">Reidun Nordland</span>
        </a>
    </div>
    <!-- /.header-wrapper -->
</header>
