<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 mt-5">
            <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
                <h2 class="text-center form--header">Registrer ny bruker</h2>
                <hr>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="model.username"
                        placeholder="Username">
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <input
                        type="password"
                        class="form-control form-group__input"
                        name="password"
                        [(ngModel)]="model.password"
                        placeholder="Password">
                </div>
                <!-- /.form-group -->
                <div class="form-group text-right">
                    <button class="btn-success form-group--button mr-2 " type="submit">Registrer</button>
                    <button (click)="cancel()" class="btn-secondary form-group--button mr-2" type="button">Avbryt</button>
                </div>
                <!-- /.form-group text-center -->
            </form>
        </div>
        <!-- /.col-4 -->
    </div>
    <!-- /.row justify-content-center -->
</div>
<!-- /.container -->
